<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Info</h5>
		<div class="gf-form">
			<span class="gf-form-label width-7">Title</span>
			<input type="text" class="gf-form-input width-25" ng-model='ctrl.panel.title'></input>
		</div>
		<div class="gf-form gf-form--v-stretch">
			<span class="gf-form-label width-7">Description</span>
			<textarea class="gf-form-input width-25" rows="3" ng-model="ctrl.panel.description"  placeholder="Panel description, supports markdown & links"></textarea>
		</div>
    <gf-form-switch class="gf-form" label-class="width-7" switch-class="max-width-6" label="Transparent" checked="ctrl.panel.transparent" on-change="ctrl.render()"></gf-form-switch>
	</div>

  <div class="section gf-form-group">

    <h5 class="section-heading">Repeat</h5>

		<div class="gf-form">
			<span class="gf-form-label width-9">For each value of</span>
			<dash-repeat-option panel="ctrl.panel"></dash-repeat-option>
		</div>
		<div class="gf-form" ng-show="ctrl.panel.repeat">
			<span class="gf-form-label width-9">Min width</span>
			<select class="gf-form-input" ng-model="ctrl.panel.minSpan" ng-options="f for f in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]">
				<option value=""></option>
			</select>
		</div>
    <div class="gf-form" ng-show="ctrl.panel.repeat">
			<span class="gf-form-label width-9">Direction</span>
			<select class="gf-form-input" ng-model="ctrl.panel.repeatDirection" ng-options="f.value as f.text for f in [{value: 'v', text: 'Vertical'}, {value: 'h', text: 'Horizontal'}]">
				<option value=""></option>
			</select>
		</div>
    <div class="gf-form" ng-show="ctrl.panel.repeat">
      <span class="gf-form-label width-9">Combine With</span>
      <dash-repeat-options panel="ctrl.panel"></dash-repeat-options>
    </div>

	</div>

  <!--<div class="gf-form">-->
    <!--<span class="gf-form-label width-8">Repeat Panel 2</span>-->
    <!--<dash-repeat-options model="ctrl.panel"></dash-repeat-options>-->
  <!--</div>-->
  <!--<gf-form-switch class="gf-form" label-class="width-8" switch-class="max-width-6" label="Union" checked="ctrl.panel.union" on-change="ctrl.render()"></gf-form-switch>-->

	<panel-links-editor panel="ctrl.panel"></panel-links-editor>


