<div class="submenu-controls">
  <div ng-repeat="variable in ctrl.variables" ng-hide="variable.hide === 2 || variable.advanced" class="submenu-item gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label template-variable" ng-hide="variable.hide === 1">
        {{variable.label || variable.name}}
      </label>
      <value-select-dropdown ng-if="variable.type !== 'adhoc'" variable="variable" on-updated="ctrl.variableUpdated(variable)"></value-select-dropdown>
    </div>
    <ad-hoc-filters ng-if="variable.type === 'adhoc'" variable="variable"></ad-hoc-filters>
  </div>
  <button type="button" class="btn btn-inverse" ng-click="ctrl.showAdvanced = !ctrl.showAdvanced"
          ng-hide="!ctrl.showAdvancedButton"> {{ctrl.showAdvanced ? 'Hide ': 'Show '}} Advanced</button>

  <div ng-if="ctrl.dashboard.annotations.list.length > 0">
    <div ng-repeat="annotation in ctrl.dashboard.annotations.list" ng-hide="annotation.hide" class="submenu-item" ng-class="{'annotation-disabled': !annotation.enable}">
			<gf-form-switch class="gf-form" label="{{annotation.name}}" checked="annotation.enable" on-change="ctrl.annotationStateChanged()"></gf-form-switch>
    </div>
  </div>

  <!--<div class="gf-form gf-form&#45;&#45;grow">-->
  <!--</div>-->
  <!--<br />-->
  <!--<div ng-if="ctrl.dashboard.links.length > 0" >-->
    <!--<dash-links-container links="ctrl.dashboard.links" class="gf-form-inline"></dash-links-container>-->
  <!--</div>-->

  <div class="clearfix"></div>
</div>
<div class="submenu-controls">
  <div ng-repeat="variable in ctrl.variables" ng-hide="variable.hide === 2 || !variable.advanced || !ctrl.showAdvanced" class="submenu-item gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label template-variable" ng-hide="variable.hide === 1">
        {{variable.label || variable.name}}
      </label>
      <value-select-dropdown ng-if="variable.type !== 'adhoc'" variable="variable" on-updated="ctrl.variableUpdated(variable)"></value-select-dropdown>
    </div>
    <ad-hoc-filters ng-if="variable.type === 'adhoc'" variable="variable"></ad-hoc-filters>
  </div>
  <div class="clearfix"></div>
</div>
<div class="submenu-controls">
  <div ng-if="ctrl.dashboard.links.length > 0" >
    <dash-links-container links="ctrl.dashboard.links" class="gf-form-inline"></dash-links-container>
  </div>

  <div class="clearfix"></div>
</div>
