$login-border: #8daac5;

.login {
  min-height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  margin-left: 0;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/heatmap_bg_test.svg);
  background-size: cover;
  color: #d8d9da;
  & a {
    color: #d8d9da !important;
  }
  & .btn-primary {
    @include buttonBackground(#ff6600, #bc3e06);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $black inset !important;
  -webkit-text-fill-color: #fbfbfb !important;
  box-shadow: 0 0 0px 1000px $black inset;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
}

.login-form {
  margin-bottom: 1rem;
  width: 100%;
}

.login-form-input {
  border: 1px solid $login-border;
  border-radius: 4px;
  opacity: 0.6;
  background: $black;
  color: #fbfbfb;

  &:focus {
    border: 1px solid $login-border;
  }
}

.login-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;

  &--right {
    justify-content: flex-end;

    & .btn {
      margin-left: 1rem;
    }
  }
}

.login-button-forgot-password {
  padding-top: 1rem;
}

.login-text {
  font-size: $font-size-sm;
}

.login-content {
  max-width: 700px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  justify-content: center;
  z-index: 1;
  min-height: 320px;
}

.login-branding {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  padding-top: 2rem;

  .logo-icon {
    width: 70px;
    margin-bottom: 15px;
  }

  .icon-gf-grafana_wordmark {
    color: darken($white, 11%);
    position: relative;
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
}

.login-outer-box {
  display: flex;
  overflow-y: hidden;
}

.login-inner-box {
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 415px;
  transform: tranlate(0px, 0px);
  transition: 0.25s ease;

  &.add {
    transform: translate(0px, -320px);
    &.hidden {
      display: none;
    }
  }

  &.remove {
    transform: translate(0px, 320px);
    &.hidden {
      display: none;
    }
  }
}

.login-tab-header {
  background: $tight-form-bg;
  text-align: center;
  margin-bottom: 3rem;
}

.login-change-password-info {
  padding-bottom: 1.5rem;

  & h5 {
    text-align: left;
  }
}
.btn-signup {
  color: $white;
  border: 1px solid $login-border;
  background-color: $btn-semi-transparent;
}

.btn-login-tab {
  background: transparent;
  border: none;
  font-size: 15px;
  padding: 10px 10px;

  &.active {
    background: darken($tight-form-bg, 5%);
    color: $white;
  }

  &:focus {
    outline: 0;
  }

  font-weight: bold;
  display: inline-block;
  width: 170px;
  color: $text-color;
}

.password-strength {
  display: block;
  width: 15%;
  overflow: visible;
  white-space: nowrap;
  padding-top: 3px;
  color: darken($text-color, 20%);
  border-top: 3px solid $red;
  &.password-strength-ok {
    width: 40%;
    border-top: 3px solid lighten($yellow, 10%);
  }
  &.password-strength-good {
    width: 100%;
    border-top: 3px solid lighten($green, 10%);
  }
}

.login-submit-button-row {
  text-align: center;
  margin-top: 30px;
  button {
    padding: 14px 23px;
    font-size: 16px;
    font-weight: bold;
    min-width: 150px;
    display: inline-block;
    border: 1px solid lighten($btn-inverse-bg, 10%);
  }
}

.login-oauth {
  width: 100%;
}

.password-recovery {
  background: $tight-form-bg;
  padding: 10px;
  a {
    color: $gray-2;
  }
}

.login-divider {
  float: left;
  width: 100%;
  margin: 0 25% 1rem 25%;
  display: flex;
  justify-content: space-between;

  .login-divider-line {
    width: 100px;
    height: 10px;
    border-bottom: 1px solid $login-border;

    .login-divider-text {
      background-color: $panel-bg;
      color: $gray-2;
      padding: 0 10px;
    }
  }
}

.login-signup-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
}

.login-signup-title {
  justify-self: flex-start;
  flex: 1;
  text-align: left;
}

.login-btn {
  width: 100%;
  margin: 0 0 1rem;
}

.signup-page-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url(../img/background_tease.jpg);
  opacity: 0.3;
  z-index: -1;
}

.invite-box {
  text-align: center;
  border: 1px solid $tight-form-func-bg;
  background-color: $panel-bg;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  .tight-form {
    text-align: left;
  }

  h3 {
    margin-top: 30px;
  }

  .modal-close {
    float: right;
    font-size: 140%;
    padding: 10px;
  }

  .modal-tagline {
    font-size: 16px;
  }
}

@include media-breakpoint-up(sm) {
  .login-content {
    flex-direction: row;
  }

  .login-branding {
    width: 35%;
    padding: 4rem 2rem;
    border-right: 1px solid $login-border;

    .logo-icon {
      width: 80px;
    }
  }

  .login-inner-box {
    width: 65%;
    padding: 1rem 2rem;
  }

  .login-divider {
    .login-divider-line {
      width: 110px;
    }
  }
}

@include media-breakpoint-up(md) {
  .login {
    min-height: 100vh;
  }

  .login-content {
    flex: 1 0 100%;
  }

  .login-branding {
    width: 45%;
    padding: 2rem 4rem;
    flex-grow: 1;

    .logo-icon {
      width: 400px;
      margin-right: 180px;
    }

    .icon-gf-grafana_wordmark {
      font-size: 3.2rem;
    }
  }

  .login-inner-box {
    width: 55%;
    padding: 1rem 4rem;
  }

  .login-button-group {
    flex-direction: row;
  }

  .login-button-forgot-password {
    padding-top: 0;
    padding-left: 10px;
  }
}

@include media-breakpoint-up(lg) {
  .login-form-input {
    min-width: 300px;
  }
}

.login-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  perspective: 1000px;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
  flex-direction: column;
  justify-content: stretch;
  justify-items: stretch;
  height: 100%;

  .login-bg__row {
    display: flex;
    flex-grow: 1;
    height: 10px;
    justify-content: stretch;
  }

  .login-bg__item {
    width: 4%;
    height: 100%;
    flex-grow: 1;
    // background: hotpink;
    // border:1px solid #0F1926;
    transition: 1s ease-in-out;
    z-index: 1;
    transform-style: preserve-3d;

    &.login-bg-flip {
      transform: rotateY(180deg);
    }

    &:before,
    &:after {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      content: '';
      display: block;
    }

    &:after {
      transform: rotateY(180deg);
      background-color: rgb(25, 50, 80);
    }
  }
}

.login-bg-fx {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: -webkit-radial-gradient(
    center center,
    ellipse farthest-corner,
    transparent 0%,
    transparent 10%,
    rgba(18, 22, 29, 1) 100%
  );
  z-index: 2;
}
