<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-copy"></i>
			<span class="p-l-1">Row Options</span>
		</h2>

		<a class="modal-header-close" ng-click="ctrl.dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<form name="ctrl.saveForm" ng-submit="ctrl.save()" class="modal-content text-center" novalidate>
		<div class="section">
			<div class="gf-form">
				<span class="gf-form-label width-7">Title</span>
				<input type="text" class="gf-form-input max-width-13" ng-model='ctrl.row.title'></input>
			</div>
			<div class="gf-form">
				<span class="gf-form-label width-7">Repeat for</span>
				<dash-repeat-option panel="ctrl.row"></dash-repeat-option>
			</div>

      <div class="gf-form" ng-show="ctrl.row.repeat">
        <span class="gf-form-label width-7">Combine With</span>
        <dash-repeat-options panel="ctrl.row"></dash-repeat-options>
      </div>

			<div class="gf-form-button-row">
				<button type="submit" class="btn btn-success" ng-click="ctrl.update()">Update</button>
				<button type="button" class="btn btn-inverse" ng-click="ctrl.dismiss()">Cancel</button>
			</div>
		</div>
	</form>
</div>
